@model HeroesAndVillians.Models.CharactersViewModel

@{
    ViewBag.Title = "Index";
}

<h2> <span class="first">Y</span> our characters</h2>

<p>
    @Html.ActionLink("Add a new Character", "Add")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Creator
        </th>
        <th>
            CreationDate
        </th>
        <th>
            Fav
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Characters) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fav)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            
        </td>
    </tr>
}

</table>
