@model HeroesAndVillians.Models.Characters

@{
    ViewBag.Title = "Delete";
}

<h2><span class="first">R</span>emove some Characters</h2>

<h3 class="color">Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Render the label for the field*@
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @*Render the data associated with the field*@
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fav)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to your List", "Index")
        </div>
    }
</div>
